$bg-color: #E2DED4;
$twitter-color: #2AA2FF; 
$qiita-color: #59C323;
$github-color: #24292E;
$blog-color: #61C0CA;
$profile-color: #eeeeee;
$text-color: #5E5E5E;

$blue-green: #61c0ca;
$orange: #fd614e;
$main-color: $blue-green;
$accent-color: $orange;

$header-font-color: #ffffff;

$link-color: $accent-color;
