$blue-green: #61c0ca;
$orange: #fd614e;
$blue-green-dark: #407f86;

$main-color: $blue-green;
$main-color-dark: $blue-green-dark;
$accent-color: $orange;
$background-color: #f4f4f4;
$sub-color: #555555;

$text-color: #505050;
$header-font-color: #ffffff;

$link-color: $accent-color;

$header-bg-color: $sub-color;

/* sidebar */
$sidebar-color: $background-color;
$sidebar-link-hover-color: #e4e4e4;
$sidebar-link-ripple-color: #d4d4d4;
