
@import "base";
@import "media-query";

.page {
  width: 100vw;
  height: 100vh;
}

#top {
  color: $text-color;
  background-color: $bg-color;
  text-align: center;

  display: flex;

  .wrap {
    width: 100%;
    max-width: 900px;
    margin: auto;

    h1 {
      width: auto;
      height: 15vmin;
      line-height: 15vmin;
      font-size: 15vmin;

      margin: auto;

      font-weight:  500;
      letter-spacing: 0.4rem;
    }

    .contents {

      margin-top: 50px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .item {
        width: 123px; 
        height: 123px;

        display: flex-box;
        border-radius: 62px;
        margin: auto;

        &.profile { background-color: $profile-color; }
        &.qiita { background-color: $qiita-color; }
        &.github { background-color: $github-color; }
        &.twitter { background-color: $twitter-color; }
        &.blog { background-color: $blog-color; }

        a {
          color: white;
          font-weight: 100;
          line-height: 123px;
          font-size: 3.0rem;
          text-decoration: none;
        }

        &.profile a { color: $text-color; }
      }

    }


    a {
      display: block;
    }
  }

}

.profile-img {
  width: 250px;
  height: 250px;
  margin: 0 auto;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.box-wrap {
  display: flex;
  flex-wrap: wrap;

  .box {
    width: 450px;
  }
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

