
@import "base";

.page {
  width: 100vw;
  height: 100vh;
}

#top {
  color: white;
  background-color: $blue-green;
  text-align: center;

  display: flex;

  h1 {

    // debug
    background-color: rgba(255,255,255,0.3);

    width: auto;
    height: 13vmin;
    line-height: 13vmin;
    font-size: 13vmin;

    margin: auto;

    font-weight:  100;
    letter-spacing: 0.4rem;
  }
}

#aboutme {
  background-color: $blue-green-dark;
}

#skills {
  background-color: $blue-green-light;
}

#contact {
  background-color: #aaa;
}