/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

ul li {
  list-style-type: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* sidebar */
/*
 * font
 */
/* font size */
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

h1 {
  font-size: 3.0rem; }

h2 {
  font-size: 2.6rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 2.0rem; }

h6 {
  font-size: 1.8rem; }

body {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  line-height: 1.4; }

h1 {
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em; }

h2 {
  font-weight: 400;
  line-height: 48px; }

h3 {
  font-weight: 400;
  line-height: 40px; }

h4 {
  font-weight: 400;
  line-height: 32px; }

h5 {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em; }

h6 {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em; }

p {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0; }

a {
  color: #fd614e;
  font-weight: 500; }

html {
  min-height: 100%;
  position: relative; }

body {
  color: #505050;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  height: 100%; }
  body * {
    box-sizing: inherit; }

a {
  -webkit-tap-highlight-color: transparent; }

.container {
  margin: 0 auto; }

.page {
  width: 100vw;
  height: 100vh; }

#top {
  color: white;
  background-color: #61c0ca;
  text-align: center;
  display: flex; }
  #top h1 {
    width: auto;
    height: 13vmin;
    line-height: 13vmin;
    font-size: 13vmin;
    margin: auto;
    font-weight: 100;
    letter-spacing: 0.4rem; }

#aboutme {
  background-color: #d0ecef; }

#skills {
  background-color: #339cab; }

#contact {
  background-color: #555555; }
